:root {
	/* --color01: #e9d8a6;
	--color01-alt: #ecdcb0;
	--color01-alt2: #eee1ba; */
	--color01: #ae2012;
	--color01-alt: #bb402a;
	--color01-alt2: #c75a42;
	--colorbg: #191919;
	--colorbg-alt: #232323;
	--colorbg-alt2: #303030;
}

/* https://colorffy.com/palettes/1QrpYsXlSIH2RWCpTU3T */
/* https://colorffy.com/dark-theme-generator?colors=AE2012-242424 */
/* https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */

html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	font-family: "Figtree", Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	background-color: var(--colorbg);
	color: white;
}

/* #009DDC #F26430 #A2D729 #6761A8 #009B72 */
/* Buttons: https://codepen.io/yuhomyan/pen/LYNVVNO */

h1 {
	font-size: 2rem;
	font-size: clamp(2rem, 1.3333333333333333rem + 2.9629629629629632vw, 4rem);
	margin: 0px;
	font-weight: normal;
}

h2 {
	font-size: 1.15rem;
	font-size: clamp(1.15rem, 0.6399999999999998rem + 2.266666666666667vw, 2rem);
	margin: 0px;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.2rem;
	font-size: clamp(1.2rem, 1.02rem + 0.8000000000000002vw, 1.5rem);
	text-align: center;
}

h4 {
	font-size: 0.6rem;
	font-size: clamp(0.6rem, 0.36rem + 1.0666666666666669vw, 1rem);
	text-align: center;
	font-weight: 800;
	padding: 0.5rem 0.4rem;
	margin: 0;
}

h5 {
	font-size: 0.8rem;
	font-size: clamp(0.8rem, 0.5rem + 1.3333333333333335vw, 1.3rem);
	margin: 0px;
	font-weight: normal;
}

h6 {
	font-size: 1.18rem;
	font-size: clamp(1.18rem, 0.8133333333333332rem + 1.6296296296296295vw, 2.28rem);
	margin: 0px;
	font-weight: normal;
}

p {
	margin: 0%;
	font-size: 0.8rem;
	font-size: clamp(0.8rem, 0.68rem + 0.5333333333333332vw, 1rem);
}

.button-24 {
	background: var(--color01);
	border: 1px solid var(--color01);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
}

.button-24:hover,
.button-24:active {
	background-color: initial;
	background-position: 0 0;
	color: var(--color01);
}

#project,
#studies {
	display: flex;
	margin: auto;
	width: 80%;
	margin-top: 5em;
	flex-direction: column;
	gap: 4em;
	scroll-margin-top: 75px;
}

#project p {
	min-height: 250px;
}

.project-article {
	display: grid;
	grid-template-columns: 1fr 170px 1fr;
	grid-template-rows: 1fr;
	-moz-box-align: center;
	align-items: center;
}

.project-text {
	grid-area: 1 / 1 / auto / 3;
	min-height: 350px;
	padding: 50px;

	border-radius: 9px;
	background-color: var(--colorbg-alt);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.project-text-container {
	width: 75%;

	line-height: 2rem;
	line-height: clamp(1rem, 0.5rem + 2.5vw, 2rem);
}

.project-text-button {
	padding: 20px 0px 0px;
}

.project-media {
	grid-area: 1 / 2 / auto / 4;
	position: relative;
	right: -5%;
}

.project-media img,
.project-mediaB img {
	width: 100%;
	height: auto;
	border-radius: 9px;
}

.project-badge {
	display: none;

	@media (width >= 70em) {
		display: flex;
		left: -7em;
		position: relative;
	}
}

.project-badge svg {
	fill: var(--color01);
	width: 25px;
	height: 25px;
	margin-left: 0.5em;
}
