:root {
	/* --color01: #e9d8a6;
	--color01-alt: #ecdcb0;
	--color01-alt2: #eee1ba; */
	--color01: #ae2012;
	--color01-alt: #bb402a;
	--color01-alt2: #c75a42;
	--colorbg: #242424;
	--colorbg-alt: #383838;
	--colorbg-alt2: #4e4e4e;
	--color01-gradient: -webkit-linear-gradient(
		left top,
		var(--color01-alt) 60%,
		var(--color01) 100%
	);
}
#gradient-svg {
	--color-stop-1: #a770ef;
	--color-stop-2: #cf8bf3;
	--color-stop-3: #fdb99b;
}

#gradient-svg2 {
	--color-stop-1: #a770ef;
	--color-stop-2: #cf8bf3;
	--color-stop-3: #fdb99b;
}

.svg-gradient {
	fill: url(#gradient-svg) gray;
}
/* https://colorffy.com/palettes/1QrpYsXlSIH2RWCpTU3T */
/* https://colorffy.com/dark-theme-generator?colors=AE2012-242424 */
/* https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */

html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	font-family: "Figtree", Arial, Helvetica, sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	background-color: var(--colorbg);
	color: white;
}

/* #009DDC #F26430 #A2D729 #6761A8 #009B72 */
/* Buttons: https://codepen.io/yuhomyan/pen/LYNVVNO */

h2 {
	text-align: center;
}

p {
	margin: 0%;
}

.navbar-box {
	position: fixed;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 60px;
	background-color: var(--colorbg-alt);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.navbar {
	display: flex;
	align-items: center;
	width: 80vw;
}

.navbar a {
	margin-left: 2em;
	color: white;
	font-weight: 0;
	font-size: 1em;
	text-decoration: none;
}

.navbar a:hover {
	color: var(--color01);
}

#home {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 125px;
	width: 80%;
	height: calc(-125px + 80vh);
	margin-bottom: 15vh;
	scroll-margin-top: 125px;
}

.home-imgBG {
	width: 40%;
	position: absolute;
	top: 60px;
	right: 0px;
	z-index: -1;
	fill: var(--color01);
}

.home-info {
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
}

.home-infoPanel {
	display: flex;
	flex-direction: column;
	width: max-content;
	margin-top: 30px;
}

.home-infoLink {
	display: flex;
	margin-top: 20px;
	flex-direction: row;
	justify-content: space-around;
}
.home-listContent {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 15px;
	background-color: var(--colorbg);
	padding: 2em;
}

#home h1 {
	margin: 0%;
	font-size: 3em;
	font-weight: 900;
}

.home-under {
	font-size: 1.715em;
}

.button-24 {
	background: var(--color01);
	border: 1px solid var(--color01);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
}

.button-24:hover,
.button-24:active {
	background-color: initial;
	background-position: 0 0;
	color: var(--color01);
}

.button-24:active {
	opacity: 0.5;
}

.like-main {
	display: flex;
	justify-content: space-around;
}

.like-container {
	background-color: var(--colorbg-alt);
	max-width: 260px;
	display: flex;
	flex-direction: column;
	padding: 1.5em;
	width: max-content;
	justify-content: space-around;
	align-items: center;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
}

.like-img {
	width: 100px;
}

.like-title {
	font-size: 1.3em;
	font-weight: 400;
}

.like-text {
	text-align: justify;
	font-size: 0.9em;
	box-sizing: border-box;
}

#about {
	margin-top: 5em;
	scroll-margin-top: 100px;
}
.about-bg {
	position: absolute;
	left: 0px;
	width: 100%;
	min-height: 400px;
	background: var(--colorbg-alt);
	transform: skewY(-2deg);
	z-index: -1;
	pointer-events: none;
}

.about-container {
	display: flex;
	align-items: center;
	min-height: 400px;
}

.about-img-container {
	display: flex;
	flex-wrap: wrap;
	background: -webkit-linear-gradient(left top, var(--color01-alt) 60%, var(--color01) 100%);
	border-radius: 50%;
	padding: 0.5em;
	width: 15em;
	margin-left: 15vw;
}

.about-img-me {
	border-radius: 50%;
	width: 15em;
}

.about-para {
	margin: 1em;
	margin-left: 10vw;
	text-align: justify;
	width: 33vw;
}

.about-blank {
	border: black;
	border-style: solid;
	border-width: 5px;
	min-width: 1vw;
	padding: auto;
	width: 33vw;
}

#project {
	display: flex;
	margin-top: 5em;
	flex-direction: column;
	gap: 3em;
	scroll-margin-top: 75px;
}

.project-article {
	display: flex;
	margin: auto;
	border-radius: 9px;
}

.project-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2em;
	padding-right: 6em;
	text-align: center;
	border-radius: 9px;
	background-color: var(--colorbg-alt);
	margin: 1em;
	height: 40vh;
	width: 40vw;
	text-align: justify;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.project-media {
	position: relative;
	border-radius: 9px;
	height: 45vh;
	width: 40vw;
	padding: 0.5em;
	top: -0.3em;
	left: -5em;
	background-color: var(--colorbg-alt2);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.project-media img {
	width: inherit;
	height: inherit;
	max-width: fit-content;
}
.project-badge {
	display: flex;
	margin-top: 2em;
	justify-content: space-around;
}

.project-badge img {
	width: 3em;
}

#other {
	display: flex;
	margin-top: 5em;
	flex-direction: column;
	gap: 3em;
	scroll-margin-top: 75px;
}

.end {
	display: flex;
	flex-direction: column;
	background-color: var(--colorbg-alt);
	border-radius: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 20vw;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.end img {
	width: 10em;
}

footer {
	background-color: var(--colorbg-alt);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
}

.footer-container {
	font-size: 1.2em;
}

.footer-container a {
	color: var(--color01-alt);
	text-decoration: none;
}

.footer-container a:hover {
	color: white;
}

.svg-colorbg {
	fill: var(--color01-alt);
}
